<div *ngIf="capital.length === 0; else table" class="alert alert-warning text-center">
    No councountriestrieshay países que mostrar
</div>

<ng-template #table>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Icon</th>
                <th>Bandera</th>
                <th>Nombre del país</th>
                <th>Capital</th>
                <th>Población</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let capital of capital; let i = index">
                <td> {{ i+1 }} </td>
                <td>
                    {{ capital.flag }}
                </td>
                <td>
                    <img [src]=" capital.flags.svg " [alt]="capital.name.common">
                </td>
                <td> {{ capital.capital }} </td>
                <td> {{ capital.population | number }} </td>
                <td> {{ capital.name.common}} </td>
                <td>
                    <a href="#">Ver más</a>
                </td>
            </tr>
        </tbody>


    </table>

</ng-template>